#main div#canvas_container{
    
	border: 1px solid grey;
	display: inline-block;
	margin : 0 auto;
	/*cursor: url('../image/pen_write_edit.png'),auto;*/
}
canvas {cursor: url('../image/pen_write_edit.png'),auto;}
canvas.dragging {cursor: url('../image/pen_write_edit.png'),auto;}